/* CSS Reset */
* {
    font-family: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
/* End of css reset */

/* Added imported font from google */
body{
    background-image: url(../img/wallpaper.jpg);
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 100%;
    width:100%;
}

h1{
    margin-left: 2%;
    margin-top: 1%;
}

/* Color of navbar changed to oldlace */
.navbar {
    background-color: oldlace;
}


.container-fluid{
    background-color:oldlace;
}

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

/* Logo's size within the navbar */
#logo{
    height: 35px;
    width: 40px; 
}

.nav-item{
    background-color: oldlace;
    margin-left: 6mm;
}

#wrapper{
    display: inline-block;
    height: 100%;
    width: 90%;
}

/* Imported boxshadows dimensions from generator */
.card{
    background-color: rgb(241, 241, 212);
    box-shadow: 5px 5px 15px 5px #000000;
    margin-left: 6%;
    margin-top: 7%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
}

/* Curved the edges of the titles  */
/* Centered text in card title */
.card-title{
    border-radius: 15px;
    font-weight: 700;
    text-align: center;
    
    
}

.btn{
    margin-left: calc(var(--bs-gutter-x)/ 2);
}