* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
  }

body{
    background-image: url(../img/wallpaper.jpg);

}

header{
    display: inline-block;
    width: 100%;
    background-image: url(../img/wallpaper.jpg);
}

h1{
    font-family: cursive, sans-serif, fantasy;
}

h2{
    margin-left: 40%;
    margin-top: 2%;
    font-family: cursive, sans-serif, fantasy;

}

.container-fluid{
    background-color:oldlace;
}

.navbar {
    background-color: oldlace;
    font-family: cursive, sans-serif, fantasy;
}

.nav-item{
    margin-left: 6mm;
    background-color: oldlace;

}

button{
    margin-left: 20%;
    width: 60%;
    background-color: palegoldenrod
}

.card-img-top{
    height: 33vh !important;
}

.card{
    display: inline-block;
    width: 25%;
    margin: 0.5%;
    vertical-align: top;
}

.card-body{
    background-color: oldlace;
}