/* CSS Reset */
* {
    font-family: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0; 
}

/* Added imported font from google */
body{
    background-image: url(../img/wallpaper.jpg);
    font-family: 'Open Sans Condensed', sans-serif;
}

#header{
    display: inline-block;
    width: 100%;   
}

/* Changed the background color for navbar */
.navbar {
    background-color: oldlace;
}

.container-fluid{
    background-color:oldlace;
}

.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

/* Logo's size within the navbar */
#logo{
    height: 35px;
    width: 40px; 
}

.nav-item{
    background-color: oldlace;
    margin-left: 6mm;
    
}

#login{
    position: absolute;
    right: 2%;
}

/* Imported boxshadows dimensions from generator */
/* Position absolute to center card */
.card{
    background-color: rgb(241, 241, 212);
    box-shadow: 5px 5px 15px 5px #000000;
    position: absolute;
    right: 21%;
    top: 16%;
    width: 70%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;   
}

.form-label{
    font-weight: bold;
}

.invalid-feedback{
    color: #ff0000;
    font-weight: bold;
}

#termsAndConditionsLink{
    color: blue;
    text-decoration: underline;  
}

/* Display changed to none so card would be hidden */
/* Position absolute for placement of the card */
#termsAndConditionsCard{
    background-color: #ffffff;
    color: #000000;
    display: none; 
    padding: 4% 2%;
    position: absolute;
    top: 50%;
    width: 65%;
}